@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

:root {
    --logo-color: #dd1658;
    --logo-font: "Jersey 20", sans-serif;
    --thirth-color: #535C91;
}

*::selection {
    background-color: var(--logo-color);
}

.logo-font {
    font-family: var(--logo-font);
}

header {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    span {
        font-family: var(--logo-font);
        font-size: 30px;
    }

    #input-header-container {
        top: -100%;
        transition: top .3s ease-in-out;
    }
}

main {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('/images/bg-hero-640.jpg');
}

#search-title {
    background-position: right;
    background-size: 60%;
    object-fit: cover;
}

/*
Useful properties to create columns without the need for flexbox or grid
#gallery-container {
    columns: 1 auto;
    column-gap: 1.5rem;
}
*/

/*======== remove buttons from input number =====*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/*================================= DOM ACTIONS CLASS ============= */
.search-title {
    color: var(--logo-color);
    letter-spacing: 6px;
    font-size: 20px;
}

.img-container {
    background-color: var(--thirth-color);
}

.overlay-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;

    .overlay-bottom {
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, rgb(7, 15, 43, .2) 1%, rgb(7, 15, 43, 1));
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 10%;

        .btns-container {
            position: absolute;
            bottom: -100%;
            opacity: 0;
            transition: all .3s ease-in-out;

            a {
                background: rgba(7, 15, 43, .7);
                padding: 4px 8px;
            }

            .icon-download {
                margin-left: 10px;
            }
        }
    }
}

.img-container:hover .overlay-content {
    opacity: 1;
}

.img-container:hover .btns-container {
    bottom: 10%;
    opacity: 1;
}

/*============== scroll event =========*/
.scroll {
    *opacity: 0;
    *transform: translateY(100px);

    opacity: 1;
    transform: translateY(0);

    *transition: all .5s ease-in-out;
}

.scroll.active {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 480px) {
    #form-header {
        top: -100%;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
}

@media screen and (min-width: 640px) {
    main {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('/images/bg-hero-medium.jpg');
    }
}

@media screen and (min-width: 1024px) {
    .search-title {
        letter-spacing: 13px;
        font-size: 30px;
    }
}

@media screen and (min-width: 1280px) {
    main {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('/images/bg-hero-full.jpg');
    }
}
